* {
    /* outline: 1px dotted red; */
    box-sizing: border-box;
    vertical-align: top;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 970px;
    background-color: rgb(38, 81, 117);
}

img {
    padding: 5px;
    width: 323px;
}

#topRight {
    padding: 5px;
    text-align: right;
    margin-left: 366px;
    display: inline-block;
}

header p {
    color: whitesmoke;
    font-size: 10pt;
    padding: 5px;
}

header p a {
    color: rgb(212, 178, 0);
}

header span {
    color: black;
}

#search {
    padding: 10px 20px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    text-align: right;
}

#searchBox {
    text-align: center;
    border: 2px solid rgb(154, 154, 154);
}

#go {
    border: 2px solid rgb(154, 154, 154);
    background-color: rgb(38, 81, 117);
    color: whitesmoke;
}

/* header section ends */

/* nav section begins */

nav {
    padding: 10px;
    text-align: center;
}

nav ul{
    background: linear-gradient(90deg, rgba(70, 126, 171,1) 0%, rgba(75, 128, 171, 1) 50%, rgba(70, 126, 171,1) 100%);
    width: 860px;
    color: whitesmoke;
    padding: 10px;
    border-radius: 7px;
}

nav li {
    font-size: 14pt;
    display: inline-block;
    padding-right: 25px;
}

/* nav section ends */

/* bullet section begins */

#bullets {
    padding: 20px;
    display: inline-block;
    width: 350px;
}

#bullets li {
    list-style-type: none;
    padding: 8px;
    text-align: center;
}

#bullets li:before {
    content: "\00BB \0020";
    color: rgb(212, 178, 0);
}

#bullets a {
    color: whitesmoke;
}

/* bullets section ends */

/* mantra section begins */

#mantra {
    padding: 10px;
    display: inline-block;
    width: 600px;
}

#mantra p {
    text-align: center;
    font-size: 11pt;
    color: whitesmoke;
    padding: 8px;
}

#mantra li {
    padding: 5px;
    list-style-type: none;
    text-align: center;
    font-size: 14pt;
    font-style: italic;
    color: rgb(212, 178, 0);;
}

/* mantra section ends */

/* white section begins */

#white {
    text-align: center;
    background-color: whitesmoke;
}

.box {
    padding: 10px;
    margin: 10px;
    width: 345px;
    display: inline-block;
    border-top: 3px solid rgb(117, 168, 211);
}

.box h4, .box p, .box li {
    padding: 5px;
    text-align: center;
}

.box li {
    width: 220px;
    list-style: square;
    font-size: 9pt;
}

.box p {
    font-size: 10pt;
}

.box span {
    color: rgb(123, 172, 213);}

/* white section ends */

/* footer section begins */

footer a {
    margin: 20px;
    text-align: center;
    color: rgb(137, 186, 227);
}

#links {
    padding: 15px;
    text-align: center;
}
footer p {
    padding: 5px;
    text-align: center;
    color: rgb(137, 186, 227);
    font-size: 6pt;
}
/* footer section ends */